.accordion-btn {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0px;
  padding: 1.125rem 1.5rem;
  width: 100%;
  text-align: left;
  color: #212529;
}

.accordion-btn:hover {
  background-color: #eeeeee;
}